*{
    margin:0;
    padding:0;
    
}
@font-face{
    font-family:'inter'; 
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype'); 
}
.container{
    font-size:25px;
    width:900px;
    height:auto;
    margin:50px auto;
    padding:100px;
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.925);
    border-radius: 30px;
    color:white;
    font-family:inter;
    /* box-shadow: inset 0 0 0 100px  gray; */
}
.frame{
    margin:80px auto;
    
    display:block;
    text-align: center;
    justify-content: center;
    
}
.socials{
    display:flex;
    flex-direction:column;
    text-align:center;
    

}

.state{
    color:rgb(44, 110, 209);
    
}

/* .front{
    
} */
img{
    width:200px;
    height: auto;
    /* border:1px solid rgb(231, 224, 224); */
    border-radius:50%;
    overflow: hidden;
}

button{
    color:white;
    font-size:20px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    margin:10px;
    padding:20px 40px ;
    border-radius:20px;
    align-content: center;
    border:none;
    background-color:rgb(150, 145, 145);
    

    
}
button:hover{
    background-color: rgb(44, 110, 209);
    cursor: pointer;
}

a:link{
    color:white;
    text-decoration: none;
    
}
/* a:hover{
    background-color: yellow;
} */